<!doctype html>
<html lang="en">
<head>
  <title>pxonloop</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <a class="link">$</a>
  
  <div class="modal about hidden">
    <h1>pxonloop</h1>
    <p>a sandbox for <a href="http://jennmoney.biz/pxon"><abbr title="pixel object notation">pxon</abbr></a>. <br />built <a href="https://glitch.com/edit/#!/pxonloop">openly</a> by <a href="http://jennmoney.biz">your pal jenn</a></p>
    
    <p>if this is your first time, type `d` to clear the canvas and draw. <br />view the shortcuts below for more fun.</p>
    <table>
      <tr>
        <th>pressing<br /> this key</th>
        <th>does<br /> this</th>
      </tr>
      <tr>
        <td>esc</td>
        <td>hide windows</td>
      </tr>
      <tr>
        <td>e</td>
        <td>eraser</td>
      </tr>
      <tr>
        <td>p</td>
        <td>pen</td>
      </tr>
      <tr>
        <td>i</td>
        <td>import pxon</td>
      </tr>
      <tr>
        <td>j</td>
        <td>export pxon</td>
      </tr>      
      <tr>
        <td>s</td>
        <td>save png</td>
      </tr>
      <tr>
        <td>a</td>
        <td>play/pause animation</td>
      </tr> 
      <tr>
        <td>d</td>
        <td>delete project</td>
      </tr>
    </table>
  </div>
  
  <div class="modal import ">
    <strong>import pxon</strong>
    <p>
      <input type="file" name="pxon" id="import-pxon" />
    </p>
    
    <p>
      <hr />
    </p>
    
    <p>
      or you can paste pxon here:<br />
      <textarea id="pxonImportTextarea"></textarea><br />
      <input type="button" id="pxonImportSubmit" value="submit" />
    </p>
  </div>
  
    
  <div class="modal export hidden">
    <strong>export pxon</strong>
    <form id="exif">
      <label for="artist">
        artist name: <input type="text" name="artist" class="exif artist" value="" />
      </label>
      
      <label for="imageDescription">
        image description: <input type="text" name="imageDescription" class="exif imageDescription" value="" />
      </label>
      
      <label for="userComment">
        user comment: <input type="text" name="userComment" class="exif userComment" value="" />
      </label>
      
      <label for="copyright">
        copyright: <input type="text" name="copyright" class="exif copyright" value="" />
      </label>
      
      <input type="submit" id="export-pxon" value="export pxon" />
      
      <textarea id="pxonExportTextarea" class="hidden"></textarea>
    </form>
  </div>
  
  <script src="js/lib/jquery.js"></script>
  <script src="js/app/pxonloop.js"></script>
</body>
</html>